<% if user_signed_in? %>
  <div class="right ml">  
  	<%= link_to('My Account', edit_user_registration_path) %>
  | </div>
<% else %>
  <div class="right ml"> 
  	<%= link_to('Register', new_user_registration_path)  %>
  | </div>
<% end %>