<div class="row">
	
	<div style="height: 60px;" class="hide-for-small"></div>
	<div class="large-8 columns push-2 left panel">
		<h3 class="subheader text-center">Apply for an invitation</h3>
		<p class="subheader text-center">Already got one? <%= link_to "Login Here", new_session_path(resource_name) %></p>
		
		<%= render "pages/signup-start" %>
		
	</div>
</div>