	<div class="row">
  <div class="large-12 columns">
	    <div data-alert class="alert-box success text-center">
		    Your next delivery is on Monday 14th January 2014 (in 10 days) and your total monthly bill is £23.00
		    <!--a href="#" class="close">&times;</a-->
		</div>


    <div class="row">
  <!-- Thumbnails -->

      <div class="large-12 columns">
        <div class="row">

          <div class="large-4 small-12 columns">
			<%= image_tag 'bulldog.jpg', :class=>'h300' %>

            <div class="panel">
            	<!-- Default switch -->
				<div class="switch">
					<input checked id="UNIQUE1" name="switch-UNIQUE1" type="radio">
					<label for="UNIQUE1" onclick="">Send Monthly</label>
					<input id="UNIQUE1" name="switch-UNIQUE1" type="radio">
					<label for="UNIQUE1" onclick="">Added</label>
					<span></span>
				</div>
              <h5>Bulldog Mens Face Wash 175ml</h5>
              <h6>£5.99</h6>
            </div>
          </div>

          <div class="large-4 small-12 columns">
			<%= image_tag 'nivea-1.png', :class=>'h300' %>
            <div class="panel">
            	<!-- Default switch -->
				<div class="switch">
					<input checked id="UNIQUE2" name="switch-UNIQUE2" type="radio">
					<label for="UNIQUE2" onclick="">Send Monthly</label>
					<input id="UNIQUE2" name="switch-UNIQUE2" type="radio">
					<label for="UNIQUE2" onclick="">Added</label>
					<span></span>
				</div>
              <h5>Nivea Extra Comfort Shaving Gel 200ml</h5>
              <h6>£4.99</h6>
            </div>
          </div>

          <div class="large-4 small-12 columns">
            <%= image_tag 'blade.jpg', :class=>'h300' %>

            <div class="panel">
            	<!-- Default switch -->
				<div class="switch">
					<input checked id="UNIQUE3" name="switch-UNIQUE3" type="radio">
					<label for="UNIQUE3" onclick="">Send Monthly</label>
					<input id="UNIQUE3" name="switch-UNIQUE3" type="radio">
					<label for="UNIQUE3" onclick="">Added</label>
					<span></span>
				</div>
              <h5>Gilette ProGlide Razor Blades 4 Pack</h5>
              <h6>£9.99</h6>
            </div>
          </div>
       </div> <!--ROW-->
      
		<div class="row">
			<div class="large-12 columns">
				<div class="large-4 push-4 small-12 columns">
							<button data-reveal-id="myModal2" type="submit" onClick="_gaq.push(['_trackEvent', 'Signups', 'justataster']);window.open('/users/sign_up', '_self')" class="button large-12 content"> Sign Up Now<ul style="display:inline; position: relative; top: 4px; left: 5px;"><i class="foundicon-right-arrow f5"></i></ul></button>
				</div>
			</div>
		</div>

  <!-- End Thumbnails -->

        </div>
      </div>
    </div>


 
  </div>
</div>
	
				
	<div style="height: 100px;"></div>			
	
		

