<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr>

        <div class="row">
            <div class="large-4 hide-for-small columns">
                <p>©2013 MyMonthlyShop</p>
            </div>

            <div class="large-8 small-12 columns">           
                <ul class="inline-list right">     
	                <li><i class="foundicon-idea"> A 12 Startups Initiative</i></li>                       
                    <li><a href="/">Home</a></li>
                    <li><a href="/faqs">FAQs</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->