<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr>

        <div class="row">
            
            <div class="large-2 hide-for-small columns">
                <p>©2013 MyMonthlyShop</p>
            </div>

            <div class="large-10 small-12 columns footerlinks">                               
				<div class="left ml">
					<i class="foundicon-idea"><a href="http://www.12startups.co.uk" target="_blank">A 12 Startups Initiative<a></i>
				</div>
				<div class="right ml"><a href="/">Home</a></div>      
				<div class="right ml"><a href="/faqs">FAQs</a> | </div>      
				<div class="right ml"><a href="#">Privacy & Terms</a> | </div>
				<div class="right ml"><%= render 'devise/menu/registration_items' %> | </div> 
				<div class="right ml"><%= render 'devise/menu/login_items' %></div>      		                          
            	<div class="right ml"><a href="https://twitter.com/12startups" class="twitter-follow-button" data-show-count="false">Follow @12startups</a></div>
            
            
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            
            </div>
            
            
            
        </div>
    </div>
</footer><!-- End Footer -->