<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr>

        <div class="row">
            
            <div class="large-4 hide-for-small columns footerlinks">
                <p>©2013 MyMonthlyShop</p>
            </div>

        	<div class="large-3 small-12 left ml footerlinks">
				<a href="http://www.12startups.co.uk" target="_blank"><i class="foundicon-idea">A 12 Startups Initiative</i><a>
			</div>

            <div class="large-5 small-12 columns footerlinks text-right">                               
				
				<div class="left ml"><a href="/">Home</a> | </div>      
				<div class="left ml"><a href="/faqs">FAQs</a> | </div>      
				<div class="left ml"><a href="#">Privacy & Terms</a></div>
				<div class="left ml"><%= render 'devise/menu/registration_items' %> | </div> 
				<div class="left ml"><%= render 'devise/menu/login_items' %></div>      		                          
            </div>
            
            
            
        </div>
    </div>
</footer><!-- End Footer -->