<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr>

        <div class="row">
            
            <div class="large-2 hide-for-small columns">
                <p>©2013 MyMonthlyShop</p>
            </div>

            <div class="large-10 small-12 columns footerlinks">                               
				<div class="left ml">
					<i class="foundicon-idea"><a href="http://www.12startups.co.uk" target="_blank">A 12 Startups Initiative<a></i>
				</div>
				<div class="right ml"><a href="/">Home</a></div>      
				<div class="right ml"><a href="/faqs">FAQs</a> | </div>      
				<div class="right ml"><a href="#">Privacy & Terms</a> | </div>
				<div class="right ml"><%= render 'devise/menu/registration_items' %> | </div> 
				<div class="right ml"><%= render 'devise/menu/login_items' %></div>      		                          
            </div>
            
            
            
        </div>
    </div>
</footer><!-- End Footer -->