<div id="myModal" class="reveal-modal">
	<a class="close-reveal-modal">&#215;</a>
	<%= render "app" %>  
</div>

<div id="myModal2" class="reveal-modal">
	<%= render "signup-start" %>
	<a class="close-reveal-modal">&#215;</a>
</div>





