<div style="height: 10px;"><!--spacer--></div>
<div class="large-6 columns">
	<a href="/"><h1 class="f5" style="color:#fff;">MY<span style="color: #999;">MONTHLY</span>SHOP</h1></a>		
</div>
<div class="large-6 columns" style="color: #fff;">
<div class="hide-for-small" style="height: 30px;"><!--spacer--></div>
	   
	<%= render 'devise/menu/login_items' %>        
	<%= render 'devise/menu/registration_items' %>
	<div class="right ml"><a href="/faqs">FAQs</a> | </div>
	<div class="right ml"><a href="/features">Features</a> | </div>
	
	<!--div class="left ml"><a href="app.php">App</a> | </div>
	<div class="left ml"><a href="account.php">My Account</a></div-->			
</div><!-- Top Navigation -->