
<div style="background:#c8d2d5; padding:40px 0px 20px 0px; margin-bottom: 50px;">		
	<div class="row" style="color: #012;">	
		<div class="large-12 columns">
            <h3 class="subheader center text-center">Ready to make shopping for monthly essentials a thing of the past?</h3>
			<div class="content" data-slug="panel1">
	            <form action="http://mymonthlyshop.createsend.com/t/t/s/fjhjl/" method="post" id="subForm">
	                <div class="row">
	                    <div class="large-4 push-3 columns">
<<<<<<< HEAD
		                    <input type="text" class="inline" placeholder="name@example.com" name="email" id="email" />
=======
		                    <input type="text" class="inline required email" placeholder="name@example.com" name="cm-fjhjl-fjhjl" id="fjhjl-fjhjl" />
>>>>>>> Changed the text on switches in app and tidied the modals
	                    </div>
	                    <div class="large-5 columns">
	                        <button class="button small" type="submit">Tell Me First</button>
	                    </div>
	                </div>
	            </form>
				
	
            </div>
            
        </div>
    </div>			     
</div><!-- Signup Bar -->

<<<<<<< HEAD

<script type="text/javascript">
	
	function IsEmail(email) {
	  var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}
	
	$(document).ready(function () {
	
			var email = $("#email");

			$('#subForm').on('click', 'button', function(event) {

				// Validate the e-mail.
				if (!IsEmail(email.val())) {
		    		email.addClass("error");
		    		email.val(emailerror);
					return false;
				}
			});

		});

</script>
=======
>>>>>>> Changed the text on switches in app and tidied the modals
