
<div style="background:#c8d2d5; padding:40px 0px 20px 0px; margin-bottom: 50px;">		
	<div class="row" style="color: #012;">	
		<div class="large-12 columns">
            <h3 class="subheader center text-center">Ready to make shopping for monthly essentials a thing of the past?</h3>
			<div class="content" data-slug="panel1">
				
				<!-- 1. Take your Campaign Monitor subscribe form as generated from within your account: -->

				<form action="http://mymonthlyshop.createsend.com/t/t/s/fjhjl/" method="post" id="subForm">
				     <div class="row">
		                    <div class="large-4 push-3 columns">
								<input type="text" name="cm-aljhk-aljhk" id="aljhk-aljhk" /><br />
							</div>
	                    <div class="large-5 columns">
					        <button type="submit" class"small">Tell me first</button>
					
	                    </div>
	                </div>
				</form>

				<!-- 2. Add some JavaScript -->

				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
				<script type="text/javascript">
				    $(function () {
				        $('#subForm').submit(function (e) {
				            e.preventDefault();
				            $.getJSON(
				            this.action + "?callback=?",
				            $(this).serialize(),
				            function (data) {
				                if (data.Status === 400) {
				                    alert("Error: " + data.Message);
				                } else { // 200
				                    alert("Success: " + data.Message);
				                }
				            });
				        });
				    });
				</script>
				
				<div id="errorModal" class="reveal-modal">
					<a class="close-reveal-modal">&#215;</a>
					ERROR MESSAGE 
				</div>
	
            </div>
            
        </div>
    </div>			     
</div><!-- Signup Bar -->

