<div style="height:50px;"></div>
	
<!-- Contact Details -->
<div class="row">
	<div class="large-12 columns">	
		<h2>My Account</h2>
		<form class="custom">
			<div class="row">
				<div class="large-4 columns">
					<h6>Your Monthly Shop</h6>
					<label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" CHECKED>
					<span class="custom radio checked"></span> Active</label>
					<label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;">
					<span class="custom radio"></span> Deactivated</label>
				</div>
				<div class="large-4 columns">
					<h6>Email Contact</h6>
					<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;">
					<span class="custom checkbox"></span> New Products Available</label>
					<label for="checkbox2"><input type="checkbox" id="checkbox2" CHECKED style="display: none;">
					<span class="custom checkbox checked"></span> Pre Send Reminders</label>
					<label for="checkbox3"><input type="checkbox" CHECKED id="checkbox3" style="display: none;">
					<span class="custom checkbox checked"></span> Newsletters</label>
				</div>
				<div class="large-4 columns">
					<h6>Example Dropdown</h6>
					<label for="customDropdown1">Medium Example</label>
					<select id="customDropdown1" class="medium">
					<option DISABLED>This is a dropdown</option>
					<option>This is another option</option>
					<option>This is another option too</option>
					<option>Look, a third option</option>
					</select>
				</div>
			</div>
		</form>
		
		<div class="section-container tabs" data-section>

			<h5 class="title"><a href="#panel1">Your Details</a></h5>
				<div class="content" data-slug="panel1">
					<form>
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">First Name</label>
							</div>
							<div class="large-10 columns">
								<input type="text" id="yourName" placeholder="Mike">
							</div>
						</div>
						
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">Phone</label>
							</div>
							<div class="large-10 columns">
								<input type="text" id="yourName" placeholder="0208 1234 567">
							</div>
						</div>
						
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline"> Your Email</label>
							</div>
							<div class="large-10 columns">
								<input type="text" id="yourEmail" placeholder="mike@example.com">
							</div>
						</div>
						
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">Shipping Address</label>
							</div>
							<div class="large-5 columns">
								<input type="text" id="yourName" placeholder="First line">
							</div>
							<div class="large-4 large-offset-1 columns">
								<input type="text" id="yourName" placeholder="City / Town">
							</div>
							<div class="large-5 columns large-offset-2">
								<input type="text" id="yourName" placeholder="Second Line">
							</div>
							<div class="large-4 large-offset-1 columns">
								<input type="text" id="yourName" placeholder="Postcode">
							</div>
						</div>						
					</form>
				</div>


			<h5 class="title"><a href="#panel1">Bank Details</a></h5>
				<div class="content" data-slug="panel1">
					<form>
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">Bank Name</label>
							</div>
							<div class="large-6 pull-4 columns">
								<input type="text" id="yourName" placeholder="Natwest">
							</div>
						</div>
						
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">Account Number</label>
							</div>
							<div class="large-6 pull-4 columns">
								<input type="text" id="yourName" placeholder="123456789">
							</div>
						</div>
						
						<div class="row collapse">
							<div class="large-2 columns">
								<label class="inline">Sort Code</label>
							</div>
							<div class="large-6 pull-4 columns">
								<input type="text" id="yourEmail" placeholder="00-00-00">
							</div>
						</div>
					</form>
				</div>

					<button class="button">Save</button>					

	</div>
</div>