<div class="row">	
	<div class="large-12 columns">
		<h2>Frequently Asked Questions</h2>
	</div>
	<hr/>
	<div class="large-12 columns">
		<div class="large-6 columns">
			<p>Why monthly? Why can't I choose different intervals for different products and tweak and customise every last little thing like the stereo system I had in 1995?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">We think it would be a mission for you to manage and we're all about simple.</p>
		</div>
	</div>
	<hr/>
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>What if I like to choose different products every month depending on my mood?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">You don't want us -  <a href="http://www.imdb.com/title/tt0108160/?ref_=sr_1" target="_blank">this is more your thing</a></p>
		</div>		
	</div>
	<hr/>	
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>How much does shipping cost?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">Free (nothing)</p>
		</div>		
	</div>		
	<hr/>
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>Is it simple?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">Yes</p>
		</div>		
	</div>		
	<hr/>	
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>Is it secure?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">Yes</p>
		</div>		
	</div>
	<hr/>	
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>How much does it cost?</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">You only pay for the products you have delivered - there's no membership fee or any hidden charges.</p>
		</div>		
	</div>	
	<hr/>	
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>How do I cancel</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader"><form action="/users/sign_in/"><button class="small">To Cancel - Click This Button</button></form> warning - this <u>will</u> cancel your deliveries</p>
		</div>		
	</div>	
	<hr/>	
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>How do I make a change to my order</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">Just login to your account and switch products you want on and those you don't off. You can change your order up to 7 days before your delivery is due. We'll email you 10 days before to remind you.</p>
		</div>		
	</div>		
	<hr/>
	<div class="large-12 columns">			
		<div class="large-6 columns">
			<p>My other half does my shopping</p>
		</div>
		<div class="large-6 columns">
			<p class="subheader">Ok, that's cool, <b>but</b> when something gets forgotten, you know you can't go dishing out any grief or you're in for a whole world of pain. Besides, we'll make it look like you're "contributing".</p>
		</div>		
	</div>		
	<hr/>							
</div>


<div style="background:#edeae6; padding:40px 0px 20px 0px; margin-bottom: 50px;">		
	<div class="row" style="color: #012;">	
		<div class="large-12 columns">
            <h3 class="subheader center text-center">Ready to make shopping for monthly essentials a thing of the past?</h3>
            <form>
                <div class="row collapse">
                    <div class="large-4 push-2 columns">
                        <input type="text" value="name@example.com">
                    </div>
                    <div class="large-4 pull-2 columns">
                        <a class="postfix button" href="#">Next >></a>
                    </div>
                </div>
            </form>
        </div>
    </div>			     
</div><!-- Signup Bar -->