<div class="hide-for-small" style="height: 80px;"></div>

<div class="row" >	
	<div class="large-6 columns right">
		<div style="height: 60px;"></div>
		<h3>We call it "The Switch"</h3>
		<p class="subheader">When you want to add something to your monthly shop, it's as easy as sliding a switch. There's no cart, no checkout, no "please wait" or "print this page", it's just added to your next delivery.
		<div style="height: 20px;"></div>			
		<button data-reveal-id="myModal" class="button small content"> Try the demo <ul style="display:inline; position: relative; top: 4px; left: 5px;"><i class="foundicon-right-arrow f5"></i></ul></button>
	</div>
	<div class="large-6 columns">
		<div style="width: 100%; height: 250px; overflow: hidden; border: 8px solid #888; margin-bottom: 0px;">
			
				<%= image_tag '2.png', :alt=>'ss', :style=>'' %>
			
		</div>

	</div>
	
</div>
<!-- FEATURE -->

<div style="height: 100px;"></div>

<div class="row" >		
	<div class="large-6 columns">
		<div style="height: 30px;"></div>
		<h3 class="">Ridiculously clear</h3>
		<p class="subheader">All the information you need is at the top of every page:</p>
		<p class="subheader"><i class="foundicon-calendar subheader"></i> The date of your next delivery</p>
		<p class="subheader"><i class="foundicon-clock subheader"></i> Countdown in days until that date</p>	
		<p class="subheader"><i class="foundicon-cart subheader"></i> Monthly cost (updates every time you make a change)</p>	
			</ul>
		</p>
	</div>
	<div class="large-6 columns">
		<div style="width: 100%; height: 250px; overflow: hidden; border: 8px solid #888; background: #666; margin-bottom: 0px;">
				<%= image_tag '1.png', :alt=>'ss', :style=>'width: 800px;' %>
		</div>
	</div>
</div>
<!-- FEATURE -->



<div style="height: 100px;"></div>



<div class="row" >		
	<div class="large-6 columns right">
		<div style="height: 30px;"></div>
		<h3>Brands you love, and cheap stuff too</h3>
		<p class="subheader">We stock all your favourite brands. We also have several ranges of "cheap stuff that does the job" so... whatever you fancy really.</p>
		<p class="subheader">If you can't see what you want, press the "I can't see what I want" button and let us know what you want sourced for you in future. </p>
	</div>
	<div class="large-6 columns">
		<div style="width: 100%; height: 250px; overflow: hidden; border: 8px solid #888; margin-bottom: 0px;">
				<%= image_tag '4.png', :alt=>'ss', :style=>'' %>				
		</div>
	</div>	
</div>	
		
				<%= render "modal" %>